/* ==================== Media Query (Mobile Screen) ==================== */
@media only screen and (max-width: 600px) {
  /* ========== Header ========== */
  header ul {
    display: none;
  }
  header nav .toggle-bar {
    display: block;
  }
  header .call-us {
    display: none;
  }

  /* ========== Home ========== */
  #home .contact button:nth-child(1) {
    margin-bottom: 0.5rem;
  }
}

/* ==================== Media Query (Small Screen) ==================== */
@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }

  /* ========== About ========== */
  #about .container {
    flex-direction: row;
  }
  #about .container > div {
    width: 50%;
  }
  #about .img-container .box {
    display: block;
  }

  /* ========== Solar Kits ========== */
  #solar .box-container {
    flex-direction: row;
  }
}

/* ==================== Media Query (Medium Screen) ==================== */
@media only screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* ==================== Media Query (Large Screen) ==================== */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
